body {
  margin: 0;
  padding: 0;
}
.bgClass{
  position:absolute;
  top:0px;
  left:0px;
  height:100vh;
  width:100vw;
  background-image: url("./resource/bg.png");
  background-size: cover;
  z-index: -1;
}
.navigationBar{
  vertical-align: middle;
  background:white;
}
.navigationContent{
  font-family: vdl-v7marugothic, sans-serif;
  margin:15px 9px;
}
.navigationContentBox{
  margin-right:45px;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
}

.contentBar{
  font-size:30px;
  padding-left:30px;
  color:white;
  font-family: vdl-logona, sans-serif;
  background-size:contain;
  background-image: url("./resource/contentBar.svg");
  background-repeat: no-repeat;
}