$fontcolor: #200050;

body {
  margin: 0;
  padding: 0;
  background: #fafafa;
  color: $fontcolor;
  scrollbar-width: none;
  font-family: Arial, Helvetica, sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
a {
  text-decoration: none;
  color: $fontcolor;
}
.link {
  color: #2080a0;
  font-weight: bold;
}

@font-face {
  font-family: "MISHIMISHI-BLOCK";
  src: url("/resource/font/MISHIMISHI-BLOCK.otf") format("opentype");
}

.bg {
  height: 100vmax;
  width: 100vw;
  background-image: url("/resource/bg.png");
  background-size: cover;
  background-position: 70% 0%;
  z-index: -1;
}
.header {
  height: 300px;
  width: 100vw;
  background-image: url("/resource/bg.png");
  background-size: cover;
  z-index: -1;
  border: 1px solid #eee;
}
.navigationBar {
  position: sticky;
  top: 0px;
  vertical-align: middle;
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 9px 0px;
  z-index: 2;
  border-bottom: solid 1px #ddd;
}
.navigationContent {
  margin: 0px 9px;
  font-size: 18px;
  font-family: vdl-v7marugothic, sans-serif;
  width: 3em;
}
.navigationContentCurrent {
  margin: 0px 9px;
  font-size: 18px;
  font-family: vdl-v7marugothic, sans-serif;
  color: #ff5084;
  width: 3em;
}
.navigationContentBox {
  margin-right: 45px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.navigationTop {
  margin-left: 30px;
  font-family: vdl-logona, sans-serif;
  font-size: 18px;
  background-size: contain;
  background-repeat: no-repeat;
}

.contentBar {
  font-size: 30px;
  padding-left: 30px;
  color: white;
  font-family: vdl-logona, sans-serif;
  font-weight: 900;
  background-size: contain;
  background-image: url("/resource/contentBar.svg");
  background-repeat: no-repeat;
}

.card {
  margin: auto;
  padding: 35px;
  border-radius: 15px;
  width: 80%;
  background: #fff;
}

.headline {
  position: relative;
  background: #fff;
  height: 150px;
  border-bottom: 1px solid #eee;
}
.headlineContent {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.contentHead {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: vdl-logona, sans-serif;
  width: 6em;

  font-size: 1.9rem;
  font-weight: bold;
  background-image: url("/resource/uychanHead.png");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

.contentArea {
  background: #eee;
  padding-top: 30px;
  height: 100vh;
}
