.headlineContentProfile {
  width: 50em;
  max-width: 90%;
  height: 100%;
  margin: auto;
}
.headlineProfile {
  position: relative;
  background: #fff;
  border-bottom: 1px solid #eee;
  display: flex;
}
.biographyArea {
  padding: 8px;
}
.biography {
  margin-top: -8px;
}
.profileIconWrapper {
  width: min(10em, max(20vw, 5em));
  height: min(10em, max(20vw, 5em));
}
.profileIcon {
  margin-top: -50%;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  background-size: contain;
  border: 6px solid #fff;
  background: #fff;
}
.name {
  font-size: 2em;
  font-weight: 900;
  font-family: vdl-logona, sans-serif;
}
.nameSubtext {
  font-family: vdl-logona, sans-serif;
}
.cardTitle {
  font-family: vdl-logona, sans-serif;
  font-size: max(1.4em, min(34px, 6vw));
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
}
.cardTitleSub {
  font-family: vdl-logona, sans-serif;
  font-size: min(18px, 4vw);
  white-space: nowrap;
}
.wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 2em;
}
.fig {
  left: 0;
  display: flex;
  align-items: center;
  grid-row-start: 1;
  grid-row-end: 3;
}
.uychan {
  width: 100%;
}
.description {
  grid-row-start: 1;
  grid-row-end: 2;
}
.cardContent {
}
.creditWrapper {
  position: relative;
  grid-row-start: 2;
  grid-row-end: 3;
}
.creditText {
}
