.headline {
  background: #fff;
}
.headlineContent {
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.biographyArea {
  padding-left: 30px;
}
.profileIcon {
  border-radius: 50%;
  width: 25vw;
  height: 25vw;
  background: #fff;
  max-width: 250px;
  max-height: 250px;
  background: #fff;
  transform: translate(0%, -50%);
  background-size: contain;
  border: 6px solid #fff;
}
.rect {
  background: #444;
}
.name {
  color: #333;
  font-size: 34px;
  font-weight: 900;
  font-family: vdl-logona, sans-serif;
}
.contentArea {
  margin: 30px;
}
.card {
  margin: auto;
  border-radius: 15px;
  width: 80%;
  background: #fff;
}
