.contentArea {
  margin: auto;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-rows: 100px;
}

.contentAreaBox {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
}

.workContentCard {
  background-size: cover;
  margin: 0.9vw;
  min-width: 6em;
  position: relative;
}

.workContentThmbnail {
  width: 100%;
  background-size: cover;
  background-position: center;
}
.workContentTitle {
  font-family: sans-serif;
  padding: 0.5rem 0em;
  font-weight: 900;
}

.workPageThmbnail {
  height: 40vh;
  background-size: cover;
  background-position: center;
}
.workPageBox {
  background: #fff;
}
