.contentArea {
  margin: auto;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-rows: 100px;
}

.contentAreaBox {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
}

.workContentCard {
  //border-radius: 5%;
  background-size: cover;
  //background: #fff;
  //border: solid 1px #ddd;
  margin: 0.9vw;
  min-width: 6em;
  position: relative;
}

.workContentThmbnail {
  //border-radius: 5% 5% 0px 0px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.workContentTitle {
  font-family: sans-serif;
  padding: 0.5em;
  font-weight: 900;
}
