.worksContentArea {
  margin: auto;
  padding: 2rem;
  max-width: 1200px;
}

.contentAreaBox {
  margin: auto;
  display: grid;
  gap: 2%;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.categoryBar {
  padding: 2em;
}
.categoryContent {
  display: inline;
  padding: 0em 1.2em;
}
.focusedCategoryContent {
  font-weight: bold;
}

.workContentCard {
  background-size: cover;
  min-width: 6em;
  position: relative;
}

.workContentThmbnail {
  width: 100%;
  background-size: cover;
  background-position: center;
}
.workContentTitle {
  font-family: sans-serif;
  font-weight: bold;
}
.workPageThmbnail {
  display: block;
  margin: auto;
  max-height: 80vh;
  background-size: cover;
  background-position: center;
  max-width: 100%;
}

.workInfo {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 100%;
  padding: 5%;
}
.workTitle {
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 900;
}
.workcards {
}
.workDescription {
}
.workPageCard {
  background: #fff;
  max-width: 70vw;
  margin: auto;
}
.workPageBox {
  margin: auto;
}
